<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="announcement">
            Super Deal!! Free Shipping on Orders Over tsh70k
        </div>
        <div class="nav-container">
            <div >
                
            </div>
            <div class="left-container">
                <h1 class="logo">JAC.</h1>
            </div>
            <div class="center-container">
                <ul class="links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#product-container">Products</a></li>
                    <li><a href="about.asp">About</a></li>
                </ul>
            </div>
            <div class="right-container">
                <div class="icons" onclick="toggle()">
                    <i class="fa fa-shopping-cart" style="font-size:30px;"></i>
                    <span id="badge">0</span>
                </div>
                </div>
            </div>
            <div class="cart-container" id="cart-container">
             <div class="head"><p>My Cart</p></div>
             <div class="cart-item" id="cart-item">Your cart is empty</div>
             <div class="foot">
                 <h3>Total</h3>
                 <h2 id="total">Tsh 0.00</h2>
             </div>
            </div>
        <section class="section-container" id="home">
            <div class="wrapper">
                <div class="slide">
                    <div class="img-container">
                      <img src="../img/jacket.png" alt="jacket">
                    </div>
                    <div class="info-container">
                        <h1 class="title">SUMMER SAL</h1>
                        <p class="desc">DON'T COMPROMISE ON STYLE!! GET FLAT 30% OFF FOR NEW ARRIVALS</p>
                        <button >SHOP NOW</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="product-container">
            <!-- <div id="product-container"></div> -->
        </section>
        </div>
        <script src="../js/script.js" defer></script>
</body>
</html>